<vdr-action-bar>
    <vdr-ab-left>
        <div class="flex clr-flex-row">
            <vdr-entity-info [entity]="entity$ | async"></vdr-entity-info>

            <clr-toggle-wrapper *vdrIfPermissions="['UpdatePages']">
                <input
                        type="checkbox"
                        clrToggle
                        name="enabled"
                        [formControl]="detailForm.get( 'enabled')"
                />
                <label>{{ 'common.enabled' | translate }}
                    <vdr-help-tooltip
                            class="mr3"

                            [content]="'If disabled, will not be included when searching for sections (but still when searching for the slug)'"
                    ></vdr-help-tooltip>
                </label>
            </clr-toggle-wrapper>
        </div>
        <vdr-language-selector
                [disabled]="isNew$ | async"
                [availableLanguageCodes]="availableLanguages$ | async"
                [currentLanguageCode]="languageCode$ | async"
                (languageCodeChange)="setLanguage($event)"
        ></vdr-language-selector>

    </vdr-ab-left>
    <vdr-ab-right>
        <button
                class="btn btn-primary"
                *ngIf="isNew$ | async; else updateButton"
                (click)="create()"
                [disabled]="detailForm.invalid || detailForm.pristine"
        >
            {{ 'common.create' | translate }}
        </button>
        <ng-template #updateButton>
            <button
                    class="btn btn-primary"
                    *vdrIfPermissions="'UpdatePages'"
                    (click)="save()"
                    [disabled]="detailForm.invalid || detailForm.pristine"
            >
                {{ 'common.update' | translate }}
            </button>
        </ng-template>
    </vdr-ab-right>
</vdr-action-bar>
<div class="clr-row">
    <div class="clr-col">
        <form class="form" [formGroup]="detailForm" *ngIf="entity$ | async as page">
            <section class="form-block">
                <vdr-form-field label="Title" for="title">
                    <input
                            id="title"
                            type="text"
                            formControlName="title"
                            [readonly]="!('UpdatePages' | hasPermission)"
                            (input)="updateCode(page.slug, $event.target.value)"

                    />
                </vdr-form-field>
                <vdr-form-field label="Slug" for="slug">
                    <input
                            id="slug"
                            type="text"
                            formControlName="slug"
                            [readonly]="!('UpdatePages' | hasPermission)"
                    />

                </vdr-form-field>

                <vdr-form-field  label="Sections" tooltip="Applies to all languages" for="sections">

                    <ng-container *ngIf="('UpdatePages' | hasPermission)">
                        <pages-tag-selector formControlName="sections" ></pages-tag-selector>

                    </ng-container>
                    <div *ngIf="!('UpdatePages' | hasPermission)">
                        <vdr-chip *ngFor="let section of page.sections" [colorFrom]="section.value" >
                            <clr-icon shape="tag" class="mr2"></clr-icon>
                            {{ section.value }}</vdr-chip
                        >
                    </div>
                </vdr-form-field>

                <vdr-form-field label="Section position" for="position"
                                tooltip="Order within a section. Applies to all languages"
                                [errors]="{ pattern: 'Sort position is invalid. Needs to be a number' }"

                >
                    <input
                            id="position"
                            type="text"
                            formControlName="position"
                            [readonly]="!('UpdatePages' | hasPermission)"
                    />

                </vdr-form-field>

                <vdr-rich-text-editor
                        class="page-rich-text"

                        formControlName="text"
                        [readonly]="!(['UpdatePages'] | hasPermission)"
                        [label]="'Body'"
                ></vdr-rich-text-editor>


            </section>
        </form>
    </div>

</div>